<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/styles/site.css' />
<style>
    main {
        overflow: auto;
    }
</style>
</head>

<body>
<main>
    <%- include(`partials/header`); %>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <%- include(`partials/simple-form`); %>
      </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Breed name</th>
                <th>Life expectancy</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Temperament</th>
                <th>Colours</th>
                <th>Coat</th>
                <th>Wiki handle</th>
                <th>Description</th>
                <th>Gender</th>
                <th>Country of origin</th>
                <th>Classification</th>
                <th>Species</th>
                <th>Descendant Of</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function (breedData) { %>
            <tr>
                <td><%= breedData.breedname %></td>
                <td><%= breedData.lifeexpectancy %></td>
                <td><%= breedData.weight %></td>
                <td><%= breedData.height%></td>
                <td><%= breedData.temperament%></td>
                <td><%= breedData.colours%></td>
                <td><%= breedData.coat%></td>
                <td><%= breedData.wiki%></td>
                <td><%= breedData.description%></td>
                <td><%= breedData.gender%></td>
                <td><%= breedData.countryoforigin %></td>
                <td><%= breedData.classification%></td>
                <td><%= breedData.species%></td>
                <td><%= breedData.descendantof_breed%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</main>
</body>

<script>
        // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>
</html>